<!DOCTYPE html>
<html>

<head>
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/logo.png">
    

</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>
            Use this site to check weather of any location!!
        </p>

        <form>
            <input type="text" placeholder="eg:Aligarh">
            <button>Get weather!</button>
        </form>
<p id="para1">

</p>
<p id="para2">

</p>

    </div>
    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>