body {
    color:white;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;



    display: flex;
    flex-direction: column;
    min-height: 100vh;


    background: url(../img/background.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-content {
    flex-grow: 1;
}

footer {
    color:white;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color:black;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 250px;
    border: 2px solid grey;
}

input{
    padding: 7px;
    border-radius: 5px;
    border: 1px solid grey;
}

button{
    border: 1px solid grey;
    border-radius: 5px;
    padding: 7px;
    color: white;
    background-color: darkgray;
    cursor: pointer;
}